food_restaurant_app/android/app/.cxx/Debug/285v3x6b/hash_key.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/additional_project_files.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/android_gradle_build_mini.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/android_gradle_build.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/build_file_index.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/build.ninja
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/cmake_install.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeCache.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/configure_fingerprint.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/metadata_generation_command.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/prefab_config.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/symbol_folder_index.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/.cmake/api/v1/reply/cache-v2-5d32eb9dcc213036e7f6.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-5df8703d0e3963ad4561.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-41808e0ff03ed3d7398e.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/.cmake/api/v1/reply/index-2025-03-14T01-44-46-0102.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/cmake.check_cache
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/rules.ninja
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/TargetDirectories.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/additional_project_files.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/android_gradle_build_mini.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/android_gradle_build.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/build_file_index.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/build.ninja
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/cmake_install.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeCache.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/configure_fingerprint.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/metadata_generation_command.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/prefab_config.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/symbol_folder_index.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/.cmake/api/v1/reply/cache-v2-4b3591c2a3e6b872b86d.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-8dece1941801a222d8b3.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-cb956a632d6dd93c60b4.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/.cmake/api/v1/reply/index-2025-03-12T13-18-45-0793.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/cmake.check_cache
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/rules.ninja
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/TargetDirectories.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/additional_project_files.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/android_gradle_build_mini.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/android_gradle_build.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/build_file_index.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/build.ninja
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/cmake_install.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeCache.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/configure_fingerprint.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/metadata_generation_command.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/prefab_config.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/symbol_folder_index.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/.cmake/api/v1/query/client-agp/cache-v2
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/.cmake/api/v1/query/client-agp/codemodel-v2
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/.cmake/api/v1/reply/cache-v2-cedfbc41ed9bececf1e9.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/.cmake/api/v1/reply/cmakeFiles-v1-64cb35f80fdda50f52ac.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/.cmake/api/v1/reply/codemodel-v2-3978bf36084949ae1958.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/.cmake/api/v1/reply/index-2025-03-12T13-18-46-0679.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/cmake.check_cache
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/rules.ninja
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/TargetDirectories.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/additional_project_files.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/android_gradle_build_mini.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/android_gradle_build.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/build_file_index.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/build.ninja
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/cmake_install.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeCache.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/configure_fingerprint.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/metadata_generation_command.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/prefab_config.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/symbol_folder_index.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/.cmake/api/v1/query/client-agp/cache-v2
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/.cmake/api/v1/reply/cache-v2-28ee1d718804a6514c7d.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-521da4955d351be36dd3.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/.cmake/api/v1/reply/codemodel-v2-f783b1aaab5ebe591557.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/.cmake/api/v1/reply/index-2025-03-12T13-18-47-0593.json
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/cmake.check_cache
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/rules.ninja
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/TargetDirectories.txt
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
food_restaurant_app/android/app/.cxx/Debug/285v3x6b/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
